{{#> layout}}
{{#*inline "head"}}
<link rel="canonical" href="/highscore">
<title>Highscore - {{@websiteName}}</title>
<style>
.table > tbody tr > td {
    border-top: 1px solid #aaa !important;
}
.ordered-column {
    color: #1d3;
}
tr.user-is-friend > td {
    background-color: #F8DE7E;
}
tr.user-is-me > td {
    background-color: #ffd700;
}
.history-up {
    color: #86B404;
}
.history-down {
    color: #DF3A01;
}
.medal {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    white-space: nowrap;
    border-radius: 50%;
    border: 1px solid gray;
    color: #343a40;
    width: 35px;
    height: 35px;
}
.medal-1 {
    background-color: #F7F6A8;
}
.medal-2 {
    background-color: #DCE5E5;
}
.medal-3 {
    background-color: #FFDAB9;
}
</style>
{{/inline}}
{{#*inline "body"}}
{{> navbar}}
<div class="container">

<input type="hidden" name="_csrf" value="{{csrfToken}}">

{{#if loggedIn}}
<p>
{{#if friends}}
<a href="/highscore">Show all</a>
{{else}}
<a href="/highscore?friends=1">Show only friends</a>
{{/if}}
</p>
{{/if}}

{{#if friends}}
<canvas id="friend-history" width="100" height="30"></canvas>
{{/if}}

<table class="table table-striped">
<thead>
<tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th colspan="2" class="text-center">
      <span class="text-secondary">✓ Bet</span> <br>
      {{> correct_bet}}
    </th>
    <th colspan="2" class="text-center">
      <span class="text-secondary">✓ Goal diff.</span> <br>
      {{> correct_diff}}
    </th>
    <th colspan="2" class="text-center">
      <span class="text-secondary">✓ Trend</span> <br>
      {{> correct_winner}}
    </th>
    <th>{{> wrong_bet}}</th>
    {{#if loggedIn}}<th></th>{{/if}}
</tr>
<tr>
    <th></th>
    <th></th>
    {{#each columns}}
    <th>
        <a {{#if active}}class="ordered-column"{{/if}} href="{{url}}">
            {{title}} {{#if active}}{{#if (eq orderDir "desc")}}&#x25B2;{{else}}&#x25BC;{{/if}}{{/if}}
        </a>
    </th>
    {{/each}}
    {{#if loggedIn}}<th><span title="Friends">&#x1F465;</span></th>{{/if}}
</tr>
</thead>
{{#each users}}
<tr {{#if isme}}class="user-is-me"{{/if}} {{#if isfriend}}class="user-is-friend"{{/if}}>
    <td class="text-center">
        {{#if (lte rank 3)}}<div class="medal medal-{{rank}}">{{/if~}}
            <b>{{rank}}.</b>
        {{~#if (lte rank 3)}}</div>{{/if}}
    </td>
    <td>
        {{#if (gt0 rank_change)}}
        <span class="history-up"><img src="{{asset "/arrow-up.svg"}}" height="14"> +{{rank_change}}</span>
        {{/if}}
        {{#if (lt0 rank_change)}}
        <span class="history-down"><img src="{{asset "/arrow-down.svg"}}" height="14"> {{rank_change}}</span>
        {{/if}}
    </td>
    <td>
        <a href="/user/{{id}}">{{name}}</a>
    </td>
    <td class="{{#if (isZero score)}}is-zero{{/if}}"><b>{{score}}</b></td>
    <td class="{{#if (isZero score_change)}}is-zero{{/if}}">+{{score_change}}</td>
    <td class="{{#if (isZero count3)}}is-zero{{/if}}" style="border-left:1px solid #aaa;">{{count3}}</td>
    <td class="{{#if (isZero total3)}}is-zero{{/if}}">{{total3}}</td>
    <td class="{{#if (isZero count2)}}is-zero{{/if}}" style="border-left:1px solid #aaa;">{{count2}}</td>
    <td class="{{#if (isZero total2)}}is-zero{{/if}}">{{total2}}</td>
    <td class="{{#if (isZero count1)}}is-zero{{/if}}" style="border-left:1px solid #aaa;">{{count1}}</td>
    <td class="{{#if (isZero total1)}}is-zero{{/if}}">{{total1}}</td>
    <td class="{{#if (isZero count0)}}is-zero{{/if}}" style="border-left:1px solid #aaa;">{{count0}}</td>
    {{#if @root.loggedIn}}
    <td style="border-left:1px solid #aaa;">
        {{#if isme}}
        <span title="That's you!">&#x1F464;</span>
        {{else}}
        <button data-id="{{id}}" class="toggle-friend btn btn-secondary btn-sm">{{#if isfriend}}&#x2796;{{else}}&#x2795;{{/if}}</button>
        {{/if}}
    </td>
    {{/if}}
</tr>
{{/each}}
</table>
</div>
{{/inline}}
{{#*inline "scripts"}}
<script type="text/javascript" src="/static/js/friend.js"></script>
<script type="text/javascript" src="/static/js/friend_history.js"></script>
{{/inline}}
{{/layout}}
